.container {
  min-width: 600px;
  max-width: 630px;
  background: white;
  // border: 1px solid black;
}
.menu_container, .tab_container, .button_cotainer{
  max-height: 50px;
  text-align: center;
  vertical-align: middle;
}
.menu_container {
  min-width: 600px;
  // background: yellow;
}
.tab_container{
  min-width: 450px;
  max-width: 450px;
  float: left;
  text-align: left;
  // background: black;
  margin-left: 25px;
  vertical-align: middle;
}
.button_cotainer {
  float: right;
  min-width: 120px;
  // background: blue;
}

.plus_button {
  background: green;
}

.minus_button {
  background: red;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  width: 40px;
  height: 40px;
  margin-right: 2px;
  text-align: center;
  background-repeat: repeat-x;
  font-size: 14px;
  border: 1px solid transparent;
  vertical-align: middle;
  cursor: pointer;
  color: #fff;
  margin-bottom: 0;    
  font-weight: normal;
  border-radius: 4px;
}
.memo_container {
  height: 350px;
  min-width: 600px;
  // background: pink;
  text-align: center;
  vertical-align: middle;
}
.memo_box {
  height: 330px;
  margin-top: 10px;
  min-width: 580px;
  overflow-y: scroll;
}